.header {
  padding: 10px 10px;
  background: #004D99;
  color: #fff;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

:root {
  --color-primary: #de473c;
  --color-primary-dark: color(var(--color-primary) whiteness(20%));
  --color-body-bg: #F1F1F1;
  --bar-height: 9em;
  --container-height: calc(var(--bar-height)/2);
}

body {
  background-color: var(--color-body-bg);
  font-size: 100%;
}

/** LAYOUT STYLES **/

#logo {
  font-family: "Berkshire Swash";
  font-size: 2em;
  height: 100%;
  line-height: 100%;
}

.container {
  width: 95%;
  position: fixed;
  left: 50%;
  top: 50%;
  height: var(--container-height);
  transform: translate3d(-50%, -50%, 0);
}

.main-header {
  height: var(--bar-height);
  display: flex;
}

.main-header__content {
  height: var(--bar-height);
  flex: 1;
}

/** HEADER PERSPECTIVE & TRANSFORM **/

.main-header__perspective {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1100px;
  perspective-origin: 50% 0;
  z-index: 1;
}

.main-header__front,
.main-header__bottom {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  padding: 0 1em;
  box-sizing: border-box;
}

.main-header__front {
  background: var(--color-primary);
  color: #FFF;
  z-index: 2;
  transform-origin: center bottom;
  transform: translateY(0%) rotateX(0deg);
}

.main-header__bottom {
  background: var(--color-primary-dark);
  transform-origin: center top;
  z-index: 1;
  transform: rotateX(-90deg);
  transition: transform 0.5s;
  position: absolute;
  top: 50%;
}

.main-header--rotate .main-header__front {
  transform: translateY(-100%) rotateX(90deg);
}

.main-header--rotate .main-header__bottom {
  top: 50%;
  transition: transform 0.5s;
  transform: rotateX(0deg) translateY(-100%);
}

.main-header__menu {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.main-header__menu a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-size: 1em;
  font-family: "Quicksand";
  font-weight: 400;
  flex: 0.25;
}

/** MENU BUTTON **/

.menu-button-wrapper {
  
}

.menu-button {
  height: calc(var(--bar-height)*0.5);
  width: calc(var(--bar-height)*0.5);
  background: var(--color-primary);
  position: relative;
  border: none;
  outline: none;
  padding: 0;
  perspective: 20em;
  perspective-origin: 50% 3em;
}

.menu-button:before {
  content: '';
  background: var(--color-primary-dark);
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0; 
  top: 0;
  z-index: 0;
  transform: rotateY(115deg);
	transform-origin: center left;
}

.menu-button__hb {
  width: 3em;
  height: 2.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-button__hb span,
.menu-button__hb:before,
.menu-button__hb:after {
  display: block;
  position: absolute;
  height: .4em;
  width: 100%;
  background: #FFF;
  border-radius: .2em;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-button__hb:before {
  content: '';
  top: 0px;
  @nest .menu-is--visible & {
    top: .9375em;
    transform: rotate(-135deg);
  }
}

.menu-button__hb > span {
  top: .9375em;
  @nest .menu-is--visible & {
    opacity: 0;
    left: 60px;
  }
}

.menu-button__hb:after {
  content: '';
  top: 1.875em;
  @nest .menu-is--visible & {
    top: .9375em;
    transform: rotate(135deg);
  }
}

.menu-button__hb.menu-button__hb--is-active:before {
  top: .9375em;
  transform: rotate(-135deg);
}

.menu-button__hb.menu-button__hb--is-active span {
  opacity: 0;
  left: 60px;
}

.menu-button__hb.menu-button__hb--is-active:after {
  top: .9375em;
  transform: rotate(135deg);
}

@media (min-width: 48rem) {
  body {
    font-size: 125%;
  }
  
  .container {
    max-width: 38em;
  }
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 3em;
}

p{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts{ 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li{
    list-style: none;
}

#menu{
    position: fixed;
    background-color: #fff;
}

#contact{
    padding-right: 3px;
}

nav ul, footer ul {
    font-family: 'Alkalami', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-left: 10px;
}

#top{
    font-family: 'Alkalami', serif;
    text-align: center;
    font-size: 55px;
    margin-top: 50px;
    margin-left: 23%;
    color: black;
}

title, h1, p, h2, h3{
    text-align: center;
    font-family: 'Alkalami', serif;
}

#photo{
  font-family: 'Alkalami', serif;
}

.zoom {
  padding: 10px;
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1); 
}

h3{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.slogan{
    text-align: center;
    font-sixe: 20px;
    display: inline;
}

.icons{
    width: 100px;
    margin-right: 40px;
}

.flight{
    margin-left: 15%;
    width: 110px;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover {
  opacity: 1;
  visibility: visible;
}
