.header { 
  position: fixed;
  background: #004D99;
  position: relative;
  padding-right: 100;
  padding-bottom: 10px;
}

.log{
  width: 70px;
  top: -20px;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 3em;
    padding-left: ;
    margin-right: 5px;
}

p{
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

title, h1, p, h2, h3{
    text-align: center;
    font-family: 'Alkalami', serif;
}

#title{
  margin-top: 20%;
  font-family: 'Alkalami', serif;
  padding-left: 5px;
}
  
h3{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.container {
  position: relative;
  width: 100px;
}

.image {
  opacity: 1;
  display: block;
  width: 200px;
  hieght: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  margin-top: 2px;
  color: black;
  font-size: 21px;
  padding: 16px 32px;
  font-family: 'Alkalami', serif;
}

.line1{
  display: inline-block;
  width: 370px;
}

.line2{
  display: inline-block;
  width: 370px;
}
.left{
  margin-left: 20%;
  margin-right;
}
.right{
  margin-right: 20%;
  margin-left: ;
}

.slogan{
    text-align: center;
    font-sixe: 20px;
    display: inline;
}

.flight{
    margin-left: 15%;
    width: 110px;
}

.figure {
    position: relative;
    width: 110px;
    max-width: 100%;
    display: inline-block;
    margin-right: 30%;
  }
  .figure img.image-hover {
    position: absolute;
    width: 200px;
    top: -5px;
    right: 0;
    left: 5px;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .figure:hover img.image-hover {
    opacity: 1;
  }
  
.icons{
    width: 100px;
    margin-left: 10%;
}

footer{
  background: #004D99;
}
